@font-face {
    font-family: 'Signatria';
    src: local('Signatria'), url(../fonts/Signatria.ttf), format('ttf');
}

@font-face {
    font-family: 'Bornywale';
    src: local('Bornywale'), url(../fonts/Bornywale.otf), format('otf');
}