@font-face {
  font-family: 'Bornywale';
  src: url(fonts/Bornywale/BornywaleRegular.eot);
  src: url(fonts/Bornywale/BornywaleRegular.eot?#iefix) format("embedded-opentype"), url(fonts/Bornywale/BornywaleRegular.woff2) format("woff2"), url(fonts/Bornywale/BornywaleRegular.woff) format("woff"), url(fonts/Bornywale/BornywaleRegular.ttf) format("truetype"), url(fonts/Bornywale/BornywaleRegular.svg#BornywaleRegular) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

.inner {
  width: 100%;
  padding: 4rem 10px 4rem;
}

h1 {
  text-align: center;
}

h1.logotext {
  color: #fff;
  font-family: "Bornywale", Arial, Helvetica, sans-serif;
  font-size: 64px;
}

h1.logoimg {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  line-height: 1.4;
  color: #fff;
  background: #5638f9;
  background: -webkit-gradient(linear, left bottom, left top, from(#5638f9), color-stop(15%, #1966ed), to(#00d4ff));
  background: linear-gradient(0deg, #5638f9 0%, #1966ed 15%, #00d4ff 100%);
  height: 100vh;
}

a {
  text-decoration: none;
}

a.iconlink {
  color: #fff;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

a.iconlink:hover {
  color: #e8c2f7;
}

a.linklistitem {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  margin: 7px;
  padding: 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.linklistitem:hover {
  color: #5638f9;
  background-color: white;
}

a.linklistitem-high {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  margin: 7px;
  padding: 10px;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.linklistitem-high:hover {
  color: #5638f9;
  background-color: white;
}

.medialinks {
  text-align: center;
}

.center {
  display: block;
  width: 50%;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

body {
  color: #333;
  font: 100% Lato, Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */
.x1 {
  -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: -5%;
  top: 5%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 5%;
  top: 80%;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 10%;
  top: 40%;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 20%;
  top: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 30%;
  top: 50%;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 0;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 70%;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
  left: 80%;
  top: 10%;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
  left: 90%;
  top: 50%;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
  left: 80%;
  top: 80%;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */
.bubble {
  height: 200px;
  position: absolute;
  width: 200px;
}

.bubble:after {
  border-radius: 50%;
  content: "";
  height: 180px;
  left: 10px;
  position: absolute;
  width: 180px;
}
/*# sourceMappingURL=App.css.map */