
$text-color: #fff;
$text-color-dim: #cccccc;
//$text-color-high: #3cff00;
$text-color-high: #fff;

@use 'fonts';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.inner {
    width: 100%;
    padding: 4rem 10px 4rem;
}

h1 {
    text-align: center;
    &.logotext {
        color: $text-color;
        font-family: "Bornywale", "Signatria", Arial, Helvetica, sans-serif;
        font-size: 64px;
    }
}

img {
    border-radius: 50%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    background: rgb(86,56,249);
    background: linear-gradient(0deg, rgba(86,56,249,1) 0%, rgba(25,102,237,1) 15%, rgba(0,212,255,1) 100%); 
    height: 100vh;
}

a {
    text-decoration: none;

    &.iconlink {
        color: $text-color;
        transition: all 0.4s ease-in-out;
        &:hover {
            color: #e8c2f7;
        }
    }

    &.linklistitem {
        color: $text-color;
        text-decoration: none;
        border: 2px solid $text-color;
        margin: 7px;
        padding: 10px;
        display: block;

        transition: all 0.3s ease-in-out;

        &:hover {
            color:rgba(86,56,249,1);
            background-color: white;
        }
    }
    
    &.linklistitem-high {
        color: $text-color-high;
        text-decoration: none;
        border: 2px solid $text-color-high;
        margin: 7px;
        padding: 10px;
        display: block;

        transition: all 0.3s ease-in-out;

        &:hover {
            color:rgba(86,56,249,1);
            background-color: rgb(209, 206, 206);
        }
    }
}

.medialinks {
    text-align: center;
}

.center {
    display: block;
    width: 50%;
  }

ul {
    list-style-type: none;
}

li {
    text-align: center;
}