@font-face {
    font-family: 'Signatria';
    src: local('Signatria'), url(./fonts/Signatria.ttf), format('ttf');
}

@font-face {
    font-family: 'Bornywale';
    src: local('Bornywale'), url(./fonts/Bornywale.otf), format('otf');
}

.logotext {
    color: #fff;
    font-family: "Bornywale", "Signatria", Arial, Helvetica, sans-serif;
    font-size: 64px;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    background: rgb(86,56,249);
    background: linear-gradient(0deg, rgba(86,56,249,1) 0%, rgba(25,102,237,1) 15%, rgba(0,212,255,1) 100%); 
    height: 100vh;
}

h1 {
    text-align: center;
}

img {
    border-radius: 50%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

a.linklistitem:hover {
    color:rgba(86,56,249,1);
    background-color: white;
}

a.iconlink {
    color: white;
}

.medialinks {
    text-align: center;
}

.center {
    display: block;
    width: 50%;
  }

ul {
    list-style-type: none;
}

li {
    text-align: center;
}

a.linklistitem {
    color:#FFFFFF;
    text-decoration: none;
    border: 2px solid white;
    margin: 7px;
    padding: 10px;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.inner {
    width: 100%;
    padding: 4rem 10px 4rem;
}